{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Link to the main.css file in the 'blog' app's 'static' directory -->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

  {% if title %}
  <!-- Set the HTML title with the provided 'title' variable -->
  <title>Django Blog - {{ title }}</title>
  {% else %}
  <!-- Default title if 'title' is not provided -->
  <title>Django Blog</title>
  {% endif %}
</head>

<body>
  <!-- Header section with navigation bar -->
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <!-- Navbar brand with a link to the 'blog-home' URL -->
        <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Django Blog</a>
        <!-- Navbar toggler for small screens -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar content including Home, About, Login, and Register links -->
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <!-- Home link -->
            <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
            <!-- About link -->
            <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
          </div>
          <!-- Navbar Right Side with Login and Register links -->
          <div class="navbar-nav">
            <!-- Login link -->
            <a class="nav-item nav-link" href="#">Login</a>
            <!-- Register link -->
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main content section with two columns: one for main content and one for the sidebar -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Display messages (if any) and block content from child templates -->
        {% if messages %}
        {% for message in messages %}
        <!-- Display alert boxes for each message -->
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <!-- Child templates can fill this block with content -->
        {% block content %}{% endblock %}
      </div>
      <!-- Sidebar column with additional information and links -->
      <div class="col-md-4">
        <div class="content-section">
          <h3>Our Sidebar</h3>
          <p class='text-muted'>You can put any information here you'd like.
            <!-- List group with some example items -->
          <ul class="list-group">
            <!-- Example list items -->
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery: A fast, small, and feature-rich JavaScript library -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <!-- Popper.js: A library for positioning popovers and tooltips in the DOM -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS: The JavaScript component of the Bootstrap framework -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>